# should include only relevant display information from the kcor-pipeline config file 

# Date and times in this epochs file are in Hawaiian Standard Time (HST), add
# 10 hrs to get UT

# See epochs.spec.cfg for default settings.

# can use calibration files on 20131122
# change to SGS output (unintentional, likely due to installation of 2nd spar guider)
# start camera correction
# exposure change to 0.6 ms
[20131122]
#produce_calibration            : YES
#nonlinearity-correction-factor : 1.0
#correct_camera                 : YES
display_max                    : 1.1e-6
#cmin                           : 20.0
#bmax                           : 300.0
#cal_epoch_version              : 5
#sgsdimv_range                  : [5.0, 10.0]
#sgssumv_range                  : [5.0, 10.0]
display_difference_min         : -1.0e-8
display_difference_max         : 2.0e-8
#difference_pass_max            : 250



[20131210.000000]
cropped_display_max            : 1.2e-6
display_max                    : 1.2e-6



[20150314]
cropped_display_max            : 1.1e-6
display_max                    : 1.1e-6


[20160701.000000]
cropped_display_max            : 0.9e-6
display_max                    : 0.9e-6



[20180101.000000]
cropped_display_max            : 0.8e-6
display_max                    : 0.8e-6
#require_machine_log            : YES


[20181101.000000]
cropped_display_max            : 0.7e-6
display_max                    : 0.7e-6


[20200101.000000]
cropped_display_max            : 0.9e-6
display_max                    : 1.0e-6


#[20200603]
#display_min                    : -0.02e-6
#display_max                    : 0.7e-6


